@page "/equipmentsPm/new/{CenterId}"
@page "/equipmentsPm/edit/{Id}"
@page "/equipmentsPm/view/{ViewId}"

@inject HttpClientX http
@inject IToastService toast
@inject NavigationManager nav

<div class="container @(ViewId != null ? "form-disabled" : "")">
    @if (previousPms != null)
    {
        <div class="card">
            <div class="card-header">
                <h5 class="m-1">آخرین PM های این مرکز</h5>
            </div>
            <div class="card-body">
                <ObjectTable Data="previousPms" LinkColumns="PreviousPmsLinkColumns" />
            </div>
        </div>
    }
    @if (pm == null)
    {
        <Loading />
    }
    else
    {
        if(ViewId != null)
        {
            <div class="card mt-5">
                <div class="card-header">
                    <h5 class="m-1">اطلاعات کلی PM</h5>
                </div>
                <div class="card-body row">
                    <div class="col-md">
                        <Label For="() => pm.CityName" />
                        <h6>@pm.CityName</h6>
                    </div>
                    <div class="col-md">
                        <Label For="() => pm.CenterName" />
                        <h6>@pm.CenterName</h6>
                    </div>
                    <div class="col-md">
                        <Label For="() => pm.ReportingUserName" />
                        <h6>@pm.ReportingUserName</h6>
                    </div>
                    <div class="col-md">
                        <Label For="() => pm.PmDate" />
                        <h6>@pm.PmDate</h6>
                    </div>
                    <div class="col-md">
                        <Label For="() => pm.SubmitDate" />
                        <h6>@pm.SubmitDate</h6>
                    </div>

                    <div class="col-md">
                        <Label For="() => pm.EditDate" />
                        <h6>@pm.EditDate</h6>
                    </div>
                </div>
            </div>
        }
        <EditForm Model="pm" OnValidSubmit="Submit">
            <ObjectGraphDataAnnotationsValidator />
            @if (pm != null)
            {
                @foreach (var dpm in pm.DieselsPM)
                {
                    <DieselPmEdit Pm="dpm" />
                }
                @foreach (var rpm in pm.RectifiersPM)
                {
                    <RectifierPmEdit Pm="rpm" />
                }
                @foreach (var bpm in pm.BatteriesPM)
                {
                    <BatteryPmEdit Pm="bpm" RectifierHasShutDown="pm.RectifiersPM.First(rpm => rpm.SourceId == bpm.SourceId).RectifierShutdownInPm" />
                }
                @foreach (var upm in pm.UpsPM)
                {
                    <UpsPmEdit Pm="upm" />
                }
                <Card Header="اطلاعات عمومی" BackgroundHue="180">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 form-group">
                            <Label For="() => pm.PmDate" />
                            <InputDate @bind-Value="pm.PmDate" class="form-control" />
                        </div>
                        <div class="col-lg-3 col-md-4 form-group">
                            <label class="form-label">امتیاز کلی سلامت مرکز</label>
                            <InputNumber @bind-Value="pm.TotalRate" class="form-control" min="1" max="5" />
                        </div>
                    </div>
                </Card>
            }
            @if (ViewId == null)
            {
                <div class="mt-5">
                    <ValidationSummary />
                </div>
                <div class="my-4">
                    <input type="submit" value="ذخیره" class="btn btn-primary" />
                </div>
            }
        </EditForm>
    }
</div>

@code {

    [Parameter]
    public string CenterId { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public string ViewId { get; set; }

    CommCenterVM center;
    EquipmentsPmVM pm;
    List<EquipmentsPmListItemVM> previousPms;

    protected override async Task OnInitializedAsync()
    {
        if (ViewId != null)
            Id = ViewId;
        if (Id != null)
        {
            pm = await http.GetFromJsonAsync<EquipmentsPmVM>($"EquipmentsPm/Item/{Id}");
        }
        else
        {
            pm = await http.GetFromJsonAsync<EquipmentsPmVM>($"EquipmentsPm/New?centerId={CenterId}");
        }

        var pmSearch = new PmSearchVM { Center = pm.CenterId, Limit = 50 };
        previousPms = await http.PostAsJsonAsync<PmSearchVM, List<EquipmentsPmListItemVM>>("EquipmentsPm/List", pmSearch);
    }

    private async Task Submit(EditContext context)
    {
        await http.PostAsJsonAsync("EquipmentsPm/Submit", pm);
    }

    private static ObjectTable<EquipmentsPmListItemVM>.LinkColumn[] PreviousPmsLinkColumns = new ObjectTable<EquipmentsPmListItemVM>.LinkColumn[]
    {
        new ObjectTable<EquipmentsPmListItemVM>.LinkColumn { Name = "View", Text = "نمایش", KeyFieldName = "Id", Link = "/equipmentsPm/view/{Id}" }
    };
}
