<Card Header="@("دیزل ژنراتور " + Pm.Source.Name)" BackgroundHue="106">
    <div class="card translayer">
        <div class="card-header">مشخصات کلی</div>
        <div class="card-body row">
            <div class="col-md-2 col-sm-6">
                <Label For="() => Pm.Source.Model" />
                <h6>@Pm.Source.Model</h6>
            </div>
            <div class="col-md-2 col-sm-6">
                <Label For="() => Pm.Source.Power" />
                <h6>@Pm.Source.Power</h6>
            </div>
            <div class="col-md-2 col-sm-6">
                <Label For="() => Pm.Source.PermissivePower" />
                <h6>@Pm.Source.PermissivePower</h6>
            </div>
            <div class="col-md-2 col-sm-6">
                <Label For="() => Pm.Source.StorageCapacity" />
                <h6>@Pm.Source.StorageCapacity</h6>
            </div>
            <div class="col-md-2 col-sm-6">
                <Label For="() => Pm.Source.OilCapacity" />
                <h6>@Pm.Source.OilCapacity</h6>
            </div>
        </div>
    </div>
    <div class="card mt-4 translayer">
        <div class="card-header">جزئیات PM</div>
        <div class="card-body row">
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.CurrentUsageTime" />
                <InputNumber @bind-Value="Pm.CurrentUsageTime" class="form-control" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.GasolineFilterChangeDate" />
                <InputDate @bind-Value="Pm.GasolineFilterChangeDate" class="form-control" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.OilChangeDate" />
                <InputDate @bind-Value="Pm.OilChangeDate" class="form-control" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.OilFilterChangeDate" />
                <InputDate @bind-Value="Pm.OilFilterChangeDate" class="form-control" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.WaterHoseQuality" />
                <InputSelect @bind-Value="Pm.WaterHoseQuality" class="@GoodBadClass(Pm.WaterHoseQuality)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">نرمال</option>
                    <option value="@nameof(GoodBad.Bad)">نیاز به تعویض</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.GasolineHoseQuality" />
                <InputSelect @bind-Value="Pm.GasolineHoseQuality" class="@GoodBadClass(Pm.GasolineHoseQuality)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">نرمال</option>
                    <option value="@nameof(GoodBad.Bad)">نیاز به تعویض</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.GeneratorVoltage" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.GeneratorVoltage" Step="0.01" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.TrickleChargingVoltage" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.TrickleChargingVoltage" Step="0.01" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.StartingBattery1Voltage" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.StartingBattery1Voltage" Step="0.01" />
            </div>
            @if (Pm.Source.DieselBatteryCount > 1)
            {
                <div class="@FORM_ITEM_CLASS">
                    <Label For="() => Pm.StartingBattery2Voltage" />
                    <GoodBadInputNumber Source="Pm" For="() => Pm.StartingBattery2Voltage" Step="0.01" />
                </div>
            }
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.AntiFreezeQuality" />
                <InputSelect @bind-Value="Pm.AntiFreezeQuality" class="@GoodBadClass(Pm.AntiFreezeQuality)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">نرمال</option>
                    <option value="@nameof(GoodBad.Bad)">نیاز به تعویض</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.AntiFreezeChangeDate" />
                <InputDate @bind-Value="Pm.AntiFreezeChangeDate" class="form-control" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.HeaterQuality" />
                <InputSelect @bind-Value="Pm.HeaterQuality" class="@GoodBadClass(Pm.HeaterQuality)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">نرمال</option>
                    <option value="@nameof(GoodBad.Bad)">نیاز به تعویض</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.TemperatureAfterHalfHourWork" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.TemperatureAfterHalfHourWork" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.OilPressureWhileWorking" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.OilPressureWhileWorking" />
            </div>
            <div class="col-xl-6 col-lg-9 col-md-12">
                <div class="row">
                    <div class="col-sm form-group">
                        <Label For="() => Pm.OutAmperR" />
                        <InputNumber @bind-Value="Pm.OutAmperR" class="form-control" step="0.01" />
                    </div>
                    <div class="col-sm form-group">
                        <Label For="() => Pm.OutAmperS" />
                        <InputNumber @bind-Value="Pm.OutAmperS" class="form-control" step="0.01" />
                    </div>
                    <div class="col-sm form-group">
                        <Label For="() => Pm.OutAmperT" />
                        <InputNumber @bind-Value="Pm.OutAmperT" class="form-control" step="0.01" />
                    </div>
                    @if (Pm.PowerConsumptionPercent != null)
                    {
                        <div class="col-sm form-group">
                            <Label For="() => Pm.PowerConsumptionPercent" />
                            <label class="form-control" style="background-color: @ColorUtils.GetColorOfPercent((int)Math.Round(Pm.PowerConsumptionPercent.Value))">
                                @Pm.PowerConsumptionPercent.Value.ToString("N2")%
                            </label>
                        </div>
                    }
                </div>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.ControlCardName" />
                <InputText @bind-Value="Pm.ControlCardName" class="form-control" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.ControlCardStatus" />
                <InputSelect @bind-Value="Pm.ControlCardStatus" class="@GoodBadClass(Pm.ControlCardStatus)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">سالم</option>
                    <option value="@nameof(GoodBad.Bad)">ناسالم</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.OilWaterStatus" />
                <InputSelect @bind-Value="Pm.OilWaterStatus" class="@OilWaterStatusClass(Pm.OilWaterStatus)">
                    @foreach (var item in Enum.GetValues<DieselPM.OilWaterStatusEnum>())
                    {
                        <option value="@item">@DisplayUtils.DisplayName(item)</option>
                    }
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.GovernerOilChangeDate" />
                <InputDate @bind-Value="Pm.GovernerOilChangeDate" class="form-control" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.GasolinePumpStatus" />
                <InputSelect @bind-Value="Pm.GasolinePumpStatus" class="@GoodBadClass(Pm.GasolinePumpStatus)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">سالم</option>
                    <option value="@nameof(GoodBad.Bad)">ناسالم</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.GasolineViewHoseQuality" />
                <InputSelect @bind-Value="Pm.GasolineViewHoseQuality" class="@GoodBadClass(Pm.GasolineViewHoseQuality)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">سالم</option>
                    <option value="@nameof(GoodBad.Bad)">ناسالم</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.CityVoltageRN" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.CityVoltageRN" Step="0.01" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.CityVoltageSN" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.CityVoltageSN" Step="0.01" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.CityVoltageTN" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.CityVoltageTN" Step="0.01" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.DieselVoltageRN" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.DieselVoltageRN" Step="0.01" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.DieselVoltageSN" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.DieselVoltageSN" Step="0.01" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.DieselVoltageTN" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.DieselVoltageTN" Step="0.01" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.DampersWorkStatus" />
                <InputSelect @bind-Value="Pm.DampersWorkStatus" class="@GoodBadClass(Pm.DampersWorkStatus)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">سالم</option>
                    <option value="@nameof(GoodBad.Bad)">خراب</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.OutputFrequency" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.OutputFrequency" Step="0.01" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.WaterAlarm" />
                <InputSelect @bind-Value="Pm.WaterAlarm" class="@GoodBadClass(Pm.WaterAlarm)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">فعال</option>
                    <option value="@nameof(GoodBad.Bad)">غیرفعال</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.OilAlarm" />
                <InputSelect @bind-Value="Pm.OilAlarm" class="@GoodBadClass(Pm.OilAlarm)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">فعال</option>
                    <option value="@nameof(GoodBad.Bad)">غیرفعال</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.VoltageBetweenEarthAndNoleOfDiesel" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.VoltageBetweenEarthAndNoleOfDiesel" Step="0.01" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.VoltageBetweenEarthAndNoleOfCity" />
                <GoodBadInputNumber Source="Pm" For="() => Pm.VoltageBetweenEarthAndNoleOfCity" Step="0.01" />
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.Cleaning" />
                <InputSelect @bind-Value="Pm.Cleaning" class="@GoodBadClass(Pm.Cleaning)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">خوب</option>
                    <option value="@nameof(GoodBad.Bad)">بد</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.Lighting" />
                <InputSelect @bind-Value="Pm.Lighting" class="@GoodBadClass(Pm.Lighting)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">خوب</option>
                    <option value="@nameof(GoodBad.Bad)">بد</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.Ventilation" />
                <InputSelect @bind-Value="Pm.Ventilation" class="@GoodBadClass(Pm.Ventilation)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">خوب</option>
                    <option value="@nameof(GoodBad.Bad)">بد</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS">
                <Label For="() => Pm.CablesAppearance" />
                <InputSelect @bind-Value="Pm.CablesAppearance" class="@GoodBadClass(Pm.CablesAppearance)">
                    <option value="@nameof(GoodBad.None)"></option>
                    <option value="@nameof(GoodBad.Good)">خوب</option>
                    <option value="@nameof(GoodBad.Bad)">بد</option>
                </InputSelect>
            </div>
            <div class="@FORM_ITEM_CLASS mt-3">
                <div class="form-check">
                    <label class="form-check-label">
                        <InputCheckbox @bind-Value="Pm.ExtraCable" class="form-check-input" />
                        @DisplayUtils.DisplayName(() => Pm.ExtraCable)
                    </label>
                </div>
                <div class="form-check">
                    <label class="form-check-label">
                        <InputCheckbox @bind-Value="Pm.OtherUnitsEquipments"  class="form-check-input" />
                        @DisplayUtils.DisplayName(() => Pm.OtherUnitsEquipments)
                    </label>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 mt-3 form-group">
                <div class="form-check text-danger">
                    <label class="form-check-label">
                        <InputCheckbox @bind-Value="Pm.NeedsEmergencyOperations" class="form-check-input" />
                        @DisplayUtils.DisplayName(() => Pm.NeedsEmergencyOperations)
                    </label>
                </div>
                <div class="form-check text-success">
                    <label class="form-check-label">
                        <InputCheckbox @bind-Value="Pm.ConnectedToAlarmsSystem" class="form-check-input" />
                        @DisplayUtils.DisplayName(() => Pm.ConnectedToAlarmsSystem)
                    </label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <Label For="() => Pm.Description" />
                <InputTextArea @bind-Value="Pm.Description" class="form-control" />
            </div>
        </div>
    </div>
</Card>

@code {
    private const string FORM_ITEM_CLASS = "col-xl-2 col-lg-3 col-md-4 col-sm-6 form-group";

    [Parameter]
    public DieselPM Pm { get; set; }

    private string GoodBadClass(GoodBad value)
    {
        return value switch
        {
            GoodBad.Good => "form-select normal-value",
            GoodBad.Bad => "form-select bad-value",
            _ => "form-select"
        };
    }

    private string OilWaterStatusClass(DieselPM.OilWaterStatusEnum value)
    {
        return value switch
        {
            DieselPM.OilWaterStatusEnum.None => "form-select",
            DieselPM.OilWaterStatusEnum.Normal => "form-select normal-value",
            _ => "form-select bad-value"
        };
    }
}
