@page "/ups/new/{CenterId}"
@page "/ups/edit/{Id}"

<EditEquipment @ref="editEquipment" Eq="Ups" CenterId="@CenterId" Id="@Id" TypeDisplayName="UPS">
    <div class="row mt-4">
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.Name" />
                <InputText class="form-control" @bind-Value="model.Name" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.Brand" />
                <InputText class="form-control" @bind-Value="model.Brand" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.Model" />
                <InputText class="form-control" @bind-Value="model.Model" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.ProductionDate" />
                <InputDate class="form-control" @bind-Value="model.ProductionDate" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.InstallationDate" />
                <InputDate class="form-control" @bind-Value="model.InstallationDate" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.Power" />
                <InputNumber class="form-control" @bind-Value="model.Power" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.CellsCount" />
                <InputNumber class="form-control" @bind-Value="model.CellsCount" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.SeriesCount" />
                <InputNumber class="form-control" @bind-Value="model.SeriesCount" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.CellsNormalVoltage" />
                <InputNumber class="form-control" @bind-Value="model.CellsNormalVoltage" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.BatteriesCapacity" />
                <InputNumber class="form-control" @bind-Value="model.BatteriesCapacity" />
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.InputType" />
                <InputSelect class="form-select" @bind-Value="model.InputType">
                    @foreach (var item in DisplayUtils.GetEnumValues<ElectricityType>())
                    {
                        <option value="@item">@DisplayUtils.DisplayName(item)</option>
                    }
                </InputSelect>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="form-group">
                <Label For="() => model.OutputType" />
                <InputSelect class="form-select" @bind-Value="model.OutputType">
                    @foreach (var item in DisplayUtils.GetEnumValues<ElectricityType>())
                    {
                        <option value="@item">@DisplayUtils.DisplayName(item)</option>
                    }
                </InputSelect>
            </div>
        </div>
    </div>
</EditEquipment>

@code {
    [Parameter]
    public string CenterId { get; set; }

    [Parameter]
    public string Id { get; set; }

    EditEquipment<Ups> editEquipment;

    Ups model => editEquipment.Model;
}
