@inject NavigationManager nav
@inject AuthenticationStateProvider _auth

<nav class="navbar navbar-expand-md navbar-toggleable-lg navbar-dark bg-dark border-bottom">
    <div class="container-fluid flex-wrap">
        <a class="navbar-brand" href="">سامانه ثبت PM مراکز مخابراتی</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-lg-inline-flex">
            <ul class="navbar-nav mr-5 w-100 flex-wrap">
                <AuthorizeView Policy="SuperAdmin">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">داشبورد کشوری</a>
                        <div class="dropdown-menu">
                            <NavLink class="dropdown-item" href="Country/ProvinceUseStatus">گزارش کارکرد همکاران استانها</NavLink>
                            <NavLink class="dropdown-item" href="Country/ProvinceEquipments">گزارش تجهیزات استانها</NavLink>
                        </div>
                    </li>
                </AuthorizeView>
                <AuthorizeView Policy="@nameof(Permission.ShowCenters)">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/city/list">شهرها</NavLink>
                    </li>
                </AuthorizeView>
                <AuthorizeView Policy="@nameof(Permission.ShowCenters)">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="/center/list">مراکز</NavLink>
                    </li>
                </AuthorizeView>
                <AuthorizeView Policy="@nameof(Permission.ShowPMs)">
                    <li Class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">PM تجهیزات مراکز</a>
                        <div class="dropdown-menu">
                            <AuthorizeView Context="a" Policy="@nameof(Permission.WriteEquipmentPM)">
                                <NavLink class="dropdown-item" href="/equipmentsPm/new">ثبت PM جدید تجهیزات</NavLink>
                            </AuthorizeView>
                            <NavLink class="dropdown-item" href="/equipmentsPm/list">لیست PM های تجهیزات</NavLink>
                        </div>
                    </li>
                </AuthorizeView>
                <AuthorizeView Policy="@nameof(Permission.ShowPMs)">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">PM روزانه مراکز کم ظرفیت</a>
                        <div class="dropdown-menu">
                            <AuthorizeView Context="a" Policy="@nameof(Permission.WriteDailyPM)">
                                <NavLink class="dropdown-item" href="SubmitDailyPM">ثبت PM جدید روزانه</NavLink>
                            </AuthorizeView>
                            <AuthorizeView Context="b" Policy="@nameof(Permission.ShowPMs)">
                                <NavLink class="dropdown-item" href="DailyPMList">لیست PM های روزانه</NavLink>
                                <NavLink class="dropdown-item" href="CompareDailyPM">مقایسه و بررسی</NavLink>
                            </AuthorizeView>
                        </div>
                    </li>
                </AuthorizeView>
                <AuthorizeView Policy="@nameof(Permission.ViewReports)">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown">گزارش ها</a>
                        <div class="dropdown-menu">
                            <NavLink class="dropdown-item" href="Reports/CentersHealth">درصد سلامت مراکز</NavLink>
                            <NavLink class="dropdown-item" href="Reports/UnrepairedEquipments">ایرادات رفع نشده</NavLink>
                            <NavLink class="dropdown-item" href="Reports/EquipmentsPotency">توان تجهیزات (Rating)</NavLink>
                            <NavLink class="dropdown-item" href="Reports/EquipmentsFeatures">شاخصهای کمی تجهیزات</NavLink>
                            <NavLink class="dropdown-item" href="Reports/CenterEquipments">آمار مراکز</NavLink>
                            <NavLink class="dropdown-item" href="Reports/EquipmentsFilter">آمار تجهیزات</NavLink>
                            <NavLink class="dropdown-item" href="Reports/Logs">لاگ کاربران</NavLink>
                        </div>
                    </li>
                </AuthorizeView>
                <AuthorizeView Policy="@nameof(Permission.ManageUsers)">
                    <li class="nav-item">
                        <NavLink class="nav-link" href="ManageUsers">مدیریت کاربران</NavLink>
                    </li>
                </AuthorizeView>
                <AuthorizeView>
                    <Authorized>
                        <li class="nav-item mr-auto">
                            <NavLink class="nav-link" href="login" @onclick="Logout">خروج</NavLink>
                        </li>
                    </Authorized>
                    <NotAuthorized>
                        <li class="nav-item mr-auto">
                            <NavLink class="nav-link" href="login">ورود</NavLink>
                        </li>
                    </NotAuthorized>
                </AuthorizeView>
            </ul>
        </div>
    </div>
</nav>

@code {

    private AuthStateProvider auth;
    protected override void OnInitialized()
    {
        auth = (AuthStateProvider)_auth;
    }

    private async Task Logout()
    {
        await auth.Logout();
        nav.NavigateTo("login");
    }
}
